<suite name="OrangeHrm" parallel="tests">
  <test name="On Firefox">
  <parameter name="browser" value="firefox"/>
    <classes>
		<class name="com.orangehrm.testsuite.Login"/>
		<class name="com.orangehrm.testsuite.AddEmployee"/>
     	<class name="com.orangehrm.testsuite.TakingScreenshot"/>
     	<class name="com.orangehrm.testsuite.Logout"/>
    </classes>
  </test>
  <test name="On Chrome">
  <parameter name="browser" value="chrome"/>
    <classes>
		<class name="com.orangehrm.testsuite.Login"/>
		<class name="com.orangehrm.testsuite.AddEmployee"/>
     	<class name="com.orangehrm.testsuite.TakingScreenshot"/>
     	<class name="com.orangehrm.testsuite.Logout"/>
    </classes>
  </test>  
</suite> 